<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
<header>
	<div id="header">
		
	</div>	

</header>
<main>
	<div id="mainbody">
		<h1>This is the main page.</h1>
	</div>
</main>
</body>
</html>

